:root {
    /* Neutrals */
    --color-white: #ffffff;
    --color-black: #0f0f0f;

    --stone-25: #f9f8f5;
    --stone-50:  #f5f4f0; /* sidbakgrund */
    --stone-100: #f2f1ec; /* alternerande sektioner */
    --stone-200: #e3e1dc; /* borders, dividers */
    --stone-700: #4f4f4b;

    --moss-500: #6f8363;
    --moss-700: #2a3325;    
}
