body {
  font-family: var(--font-sans);
  font-size: 1.6rem;
  line-height: 1.55;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
  margin: 0;
}

h1 {
  font-size: clamp(3.8rem, 4.4vw, 4.4rem);
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-size: clamp(2.8rem, 3.2vw, 3.4rem);
  font-weight: 500;
  line-height: 1.15;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
